/* Header */
.header-container {
  background-color: #db0153;
}

/* Main Container */
.main-container {
  width: 70%;
  margin: 1% auto;
  border: 2px solid #db0153;
  padding: 1%;
}

/* Control Panel */
.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.tabs .tab-button,
.categories .category-button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.tabs .tab-button.active,
.categories .category-button.active {
  background-color: #db0153;
  color: #fff;
}

.search-bar {
  position: relative; /* 검색어 목록이 input 밑에 오도록 하기 위해 relative 설정 */
}

.search-history {
  position: absolute;
  top: 20%; /* input 아래로 위치시키기 */
  left: 68%;
  width: 15%; /* input의 너비에 맞춰서 확장 */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* 다른 요소들 위에 표시 */
}

.search-history ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-history li {
  padding: 8px;
  cursor: pointer;
}

.search-history li:hover {
  background-color: #f0f0f0;
}

.search-bar input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Post List */
.post-list {
  border-top: 2px solid #db0153;
  margin-top: 1%;
}

.post-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.post-table th,
.post-table td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
}

/* 페이지 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button:hover {
  background: #db0153;
}

.pagination span {
  padding: 0.5rem 1rem;
}

/* Write Post Button */
.write-post {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.write-post-button {
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
