/* Header */
.header-container {
  background-color: #db0153;
}

.post-detail {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f8ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background-color: #f08080;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.info {
  font-size: 14px;
  color: #555;
}

.content {
  background-color: #fff8dc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.body {
  font-size: 16px;
}

.comments-section {
  background-color: #d4d4d4;
  padding: 15px;
  border-radius: 5px;
}

.comment-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.comment-input textarea {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.comment-list {
  background-color: #ffffff; /* 댓글 배경색 */
  border: 1px solid #ddd; /* 테두리 색상 */
  border-radius: 5px; /* 둥근 모서리를 원할 경우 */
  padding: 10px; /* 내부 여백 */
  margin-bottom: 10px; /* 각 댓글 사이의 간격 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
}

.comment-list p {
  margin: 0; /* p 태그의 기본 마진을 제거하여 더 깔끔하게 */
}

.comment-input button {
  background-color: #32cd32;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment span {
  margin-right: 10px;
  font-size: 14px;
}

.comment button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}
