.footer {
  background: linear-gradient(to right, #5c2d91, #d4145a);
  color: white;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
}

.footer-top {
  display: flex; /* 가로 배치 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.footer-link {
  color: white;
  margin: 10 5 px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
  text-align: left; /* 텍스트 왼쪽 정렬 */
}

.footer-logo {
  width: 80px;
  margin-bottom: 10px;
}

.footer-info {
  line-height: 1.6;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-left: 72%;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-icon:hover {
  color: rgba(255, 255, 255, 0.7);
}
