@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

.main-border-bottom {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #3e16e2, #ec0245) 1;
}
